body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
};

.calculator-container {
    margin: auto;
    
};

#display {
    border: 2px solid black;
    width: 12%;
    height: 10%;
}